<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>实现扫码登录的三种方式</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
    <script type="text/javascript" th:src="@{/js/plugins/jquery-2.1.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/jquery.qrcode.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/utf.js}"></script>
    <script type="text/javascript">
        var ctxPath = "[[${#httpServletRequest.getContextPath()}]]",
            ctx = "[[${#httpServletRequest.getScheme()}]]:\/\/[[${#httpServletRequest.getServerName()}]]:[[${#request.getServerPort()}]][[${#request.getContextPath()}]]";
    </script>
</head>
<body>
    <!--<h1 th:text="${username}"></h1>-->

    <div class="qrscan_total_place">
        <div class="tab_list_area">
            <ul>
                <li class="selected" data-id="1">轮询</li>
                <li data-id="2">长轮询</li>
                <li data-id="3">WebSocket</li>
            </ul>
        </div>
        <div class="qrcode_area">
            <div class="qrcode">
                <div id="qrimg"></div>
                <div class="qrmask" hidden>
                    <span class="qrmask_msg">二维码已失效</span>
                    <button class="qrmask_btn" onclick="refresh()">刷新</button>
                </div>
                <input id="uuid" type="hidden" />
            </div>
            <span id="qrtip"></span>
        </div>
    </div>
</body>

<script type="text/javascript" th:src="@{/js/apps/qrscan.js}"></script>

</html>